@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.logo{
  font-family: 'Londrina Outline', cursive;
  font-weight: 900;
  letter-spacing: 3px;
}

.item{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.welcomesection{
  background-color: #eeeeee;
}
.welcomesection p{
  font-size: 30px;
}

.about{
  font-family: 'Dancing Script', cursive;
  color: #a71d2a;
  font-size: larger;
}

.swiper-container {
  width: 500px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-left: -250px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.education{
  background-color: #6c757d;
}

.me{
  border: 3px solid #721C24;
}










/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

@media (max-width: 576px) {
  h2{
    font-size: 15px !important;
  }
  h1{
    font-size: 30px !important;
  }
  .swiper-container{
    width: 270px !important;
    height: 250px;
    margin-left: -115px;
  }

  .swiper-container img{
    width: 250px;
  }
}


@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {
  .carousel-caption h1{
    font-size: 150px !important;
  }
  .carousel-caption h2{
    font-size: 43px !important;
  }
  img{
    max-height: 650px;
  }
}


@media (min-width: 1200px) {

}









